# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and checkpoints
.ipynb_checkpoints/
.pytest_cache/

# Environments
venv/
env/
.env

# IDEs
.vscode/
.idea/

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Temporary files and logs
*.log
scratch/
